* {
    box-sizing: border-box;
}

/* CSS PARA ETIQUETAS PREDETERMINADAS */
body{
    font-family: 'Lato', sans-serif;
}

img{
    width: 80%;
}

h1{
    color: #3fc7df;
}

h2{
    color: #3fc7df;
}

h3{
    color: #3fc7df;
}

/* CSS PARA UTILIDADES */
.mayusculas{
    text-transform: uppercase;
}

.subtitulo{
    margin-top: 25px;
}

.texto-centrado{
    text-align: center;
}

.texto-blanco{
    color: #ffffff;
}

.texto-azul{
    color: #3fc7df;
}

.letra-mediana{
    font-size: 19px;
}

.estrellas-amarillas{
    color: orange;
}

.estrellas-gris{
    color: gray;
}

.marco-azul{
    background-color: #203572;
    padding: 20px 15px;
    color: #3fc7df;
}

/* CSS MAIN */
.datos {
    width: 30%;
    float: left;
    padding: 20px;
    background-color: #203572;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos div{
    margin-top: 20px;
}

.foto-perfil{
    width: 100%;
    text-align: center;
}

.habilidad{
    display: flex;
    flex-direction: row;
}
  
.trayectoria {
    width: 70%;
    float: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}